html{
  height:100%;
}

body {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.login-container {
  width:100%;
  height: 90%;
  min-height: 700px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #8ED1CD;
}

.form-header {
  color: #5a6175;
}

.form-group h1 {
  font-family: 'Apercu Bold';
}

.form-group h6 {
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 2.5px;
}

.form-group small {
  letter-spacing: 2.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-a {
  color: #FFA500;
}

.form-a:hover {
  border-bottom: 1px;
  color: #FFA500;
}

.form-signin {
  background-color: white;
  height: 85%;
  width: 30%;
  min-width: 450px;
  border-radius: 3px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-group {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  font-family: 'Apercu Regular';
}

.form-group .form-control {
  height: 48px;
  padding: 0px;
}

.form-group .password {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group .form-control::placeholder{
  color: #B2B2B2;
}

.form-group button {
  color: white;
  border: none;
  font-family: 'Apercu Bold';
  font-size: 0.70em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.form-group label {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 0.75em;
  color: #B2B2B2;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
  border-width: 1.5px;
}

.checkbox input[type="checkbox"]:checked + label::before {
  background-color: #5a6175;
  border-color: #5a6175;
}

.checkbox {
  padding: 0px;
}

.btn-primary {
  background-color: #585872;
}

.btn-facebook {
  background-color: #528FD3;
}

.login_input {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
}
#password_input{
  z-index: 100;
}

.login_input_wrong{
  border-color:red;
  border-radius: 0px;
  border-width:0px 0px 2px 0px;
}

#forgot_password{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -5px;
  margin-bottom: -5px;
}

#forgot_password a{
  text-transform: uppercase;
  font-size: 0.8em;
  color: #B2B2B2;
}

#forgot_password a:hover {
  color: #FFA500;
}

.hide-password-icon {
  color: #5a6175;
  margin-left: -50px;
}
